In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('merged_dropped.csv')
df.head()

/Users/AmandaWu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,attributes,business_id,categories,city,hours,is_open,name,neighborhood,...,review_count,stars_x,cool,date,funny,review_id,stars_y,text,useful,user_id
0,0,0,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,...,8,1.5,0,2017-01-30,0,IrMyZ0pvX66yGRjBkrTftw,1,GEICO for auto is great! But they are really r...,0,QKYH1FUlRRVD-qXfUxS13A
1,1,1,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,...,8,1.5,0,2018-06-28,0,ySzwaV71_YtLyRNtsgSpLw,1,So disappointed in this greedy company. They r...,0,54aYSgDy5bVobEyWbbyE_g
2,2,2,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,...,8,1.5,0,2018-06-28,0,vLgSfcOD9qiwGu1ZvS3dog,1,Held my family hostage for over two years as a...,0,nwDS6tgA4_HZ7mtyxzX1Ug
3,3,3,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,...,8,1.5,0,2017-12-11,0,wtBrWslmSJYskii0K4FCQQ,1,This review has nothing to do with the locatio...,0,KeUFQ3T8tCZatAezFf-zsw
4,4,4,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,...,8,1.5,0,2017-03-10,0,8LWgJH-shq62_YDTASp_Fw,1,"Geico advertises ""Piece of Mind"" when you insu...",1,5lnLq6koTB0WmfJSwsugcA

In [5]:
df.isna().sum()

Unnamed: 0            0
Unnamed: 0.1          0
attributes        79892
business_id           0
categories         1324
city                 29
hours            142004
is_open               0
name                  0
neighborhood    1877577
postal_code        2024
review_count          0
stars_x               0
cool                  0
date                  0
funny                 0
review_id             0
stars_y               0
text                  0
useful                0
user_id               0
dtype: int64

In [6]:
df = df.iloc[:, 2:]
df.head()

,attributes,business_id,categories,city,hours,is_open,name,neighborhood,postal_code,review_count,stars_x,cool,date,funny,review_id,stars_y,text,useful,user_id
0,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,85003.0,8,1.5,0,2017-01-30,0,IrMyZ0pvX66yGRjBkrTftw,1,GEICO for auto is great! But they are really r...,0,QKYH1FUlRRVD-qXfUxS13A
1,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,85003.0,8,1.5,0,2018-06-28,0,ySzwaV71_YtLyRNtsgSpLw,1,So disappointed in this greedy company. They r...,0,54aYSgDy5bVobEyWbbyE_g
2,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,85003.0,8,1.5,0,2018-06-28,0,vLgSfcOD9qiwGu1ZvS3dog,1,Held my family hostage for over two years as a...,0,nwDS6tgA4_HZ7mtyxzX1Ug
3,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,85003.0,8,1.5,0,2017-12-11,0,wtBrWslmSJYskii0K4FCQQ,1,This review has nothing to do with the locatio...,0,KeUFQ3T8tCZatAezFf-zsw
4,NaN,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",phoenix,NaN,1,Geico Insurance,NaN,85003.0,8,1.5,0,2017-03-10,0,8LWgJH-shq62_YDTASp_Fw,1,"Geico advertises ""Piece of Mind"" when you insu...",1,5lnLq6koTB0WmfJSwsugcA

In [8]:
# df_new = df.drop("neighborhood", axis =1)
df_new.categories = df_new.categories.str.lower()
df_new.city = df_new.city.str.lower()
df_new.name = df_new.name.str.lower()
df_new.text = df_new.text.str.lower()
df_new.head()

,attributes,business_id,categories,city,hours,is_open,name,postal_code,review_count,stars_x,cool,date,funny,review_id,stars_y,text,useful,user_id
0,NaN,bFzdJJ3wp3PZssNEsyU23g,"insurance, financial services",phoenix,NaN,1,geico insurance,85003.0,8,1.5,0,2017-01-30,0,IrMyZ0pvX66yGRjBkrTftw,1,geico for auto is great! but they are really r...,0,QKYH1FUlRRVD-qXfUxS13A
1,NaN,bFzdJJ3wp3PZssNEsyU23g,"insurance, financial services",phoenix,NaN,1,geico insurance,85003.0,8,1.5,0,2018-06-28,0,ySzwaV71_YtLyRNtsgSpLw,1,so disappointed in this greedy company. they r...,0,54aYSgDy5bVobEyWbbyE_g
2,NaN,bFzdJJ3wp3PZssNEsyU23g,"insurance, financial services",phoenix,NaN,1,geico insurance,85003.0,8,1.5,0,2018-06-28,0,vLgSfcOD9qiwGu1ZvS3dog,1,held my family hostage for over two years as a...,0,nwDS6tgA4_HZ7mtyxzX1Ug
3,NaN,bFzdJJ3wp3PZssNEsyU23g,"insurance, financial services",phoenix,NaN,1,geico insurance,85003.0,8,1.5,0,2017-12-11,0,wtBrWslmSJYskii0K4FCQQ,1,this review has nothing to do with the locatio...,0,KeUFQ3T8tCZatAezFf-zsw
4,NaN,bFzdJJ3wp3PZssNEsyU23g,"insurance, financial services",phoenix,NaN,1,geico insurance,85003.0,8,1.5,0,2017-03-10,0,8LWgJH-shq62_YDTASp_Fw,1,"geico advertises ""piece of mind"" when you insu...",1,5lnLq6koTB0WmfJSwsugcA

In [ ]:
df_new.to_csv("df")

In [ ]:
df_new.reset_index(['business_id', 'review_id'])